.testimony {
    border: red solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testimonyLeft {
    grid-column: 1 / 2;
}

.testimonyRight {
    grid-column: 2 / 3;
}

.images {
    height: 200px;
    border: blue solid 1px;
}

.aboutMain {
    padding: 15%;
    padding-top: 0;
    padding-bottom: 50px;

    div {
        margin-top: 50px;
    }
}

.whoWeAre {
    padding: 50px 30px;
    width: 60%;
    margin: auto;
    h2 {
        text-align: center;
        padding: 20px;
    }
    p {
        padding: 15px;
    }
}