.adopt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    padding-top: 10px;

    section {
        width: 100%;
        padding: 20px;
        margin: 25px;
        border: 1px solid black;

        div {
            border: 1px red solid;
            padding: 10px;
            margin: 20px;
            img {
                height: 250px;
            }
        }
    }
}

