.available {
    div {
        img {
        width: 300px;
        }
        div {
            border: solid 4px gray;
            width: 400px;
            margin: 25px;
        }
        // display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

.indDog {
    background: $compAccent;
}

.indCat {
    background: $compAccent;
}