.available {
    div {
        img {
        width: 300px;
        }
        div {
            border: solid 4px gray;
            width: 400px;
            margin: 25px;
        }
        // display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

.indDog {
    background: rgb(255, 150, 102);
}

.indCat {
    background: rgb(0, 128, 128);
}