.homeMain {
    padding: 5%;
    padding-top: 0;
    padding-bottom: 50px;

    div {
        margin-top: 10px;
    }
}


.blog {
    width: 80%;
    margin: auto;
    padding-bottom: 150px;
    padding-top: 150px;

    img {
        width: 250px;
        float: left;
        margin: 20px;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 30px;
        padding: 15px;
        font-style: italic;
    }
    h3 {
        font-size: 25px;
        padding: 15px;
    }
    h4 {
        position: relative;
        transform: rotate(-20deg);
        width: fit-content;
        font-size: 60px;
        font-style: italic;
        left: 70px;
        top: 40px;
        color: $accent;
        text-decoration: underline;
    }
}

.mission {
    font-size: 25px;
    padding: 150px;
    margin-bottom: 300px;
    margin: auto;
    line-height: 40px;
    width: 70%;
    background: $accent;
    border-radius: 20px;
    color: $lightText;
    

    p {
        padding-top: 30px;
    }
}