nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    position: sticky;
    top: 0;
    background: $accent;
    z-index: 3;

    a {
        font-size: 20px;
        text-decoration: none;
        color: $lightText;
    }

    a:hover {
        color: $darkText;
    }

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}