nav {
    position: sticky;
    top: 0;
    background: $accent;
    z-index: 3;
    padding: 20px;

    a {
        font-size: 20px;
        text-decoration: none;
        color: $lightText;
    }

    a:hover {
        color: $darkText;
    }

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}