/* @media screen and (min-width: 320px) and (max-width: 600px){
    .indPet{
        border: solid 10px #F48220;
        border-radius: 10px;
        box-shadow: 5px 5px 8px ;
        margin-top: 10px;
    }
    .indPet > img{
        height: 310px;
        width: 100%;
    }
    .available > button{
        margin-left: 110px;
        margin-top: 10px;
        border: solid 3px #F48220;
        border-radius: 5px;
        background-color: ghostwhite;
        width: 120px;
        height: 20px;
        text-align: center;
    }
    .petInfo{
        padding-left: 5px;
    }
    .petInfo >h3{
        font-size: 28px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .petInfo >h5{
        font-size: 18px;
        margin: 0px;
    }
    
}     */