@import './variables';
@import './nav';
@import './home';
@import './available';
@import './adopt';
@import './about';
@import './footer';
@import './carousel';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

h2 {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

.fa-paw {
    transform: rotate(-45deg);
}

.hidden {
    display: none;
}

.notHidden {
    display: flex;
}