@import './variables';
@import './nav';
@import './home';
@import './available';
@import './adopt';
@import './about';
@import './footer';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}