nav {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: antiquewhite;
  z-index: 3;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: #0f0f0f;
}

nav a:hover {
  color: #5e4b50;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimony {
  border: red solid 1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.testimonyLeft {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.testimonyRight {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.images {
  height: 200px;
  border: blue solid 1px;
}

.homeMain {
  padding: 15%;
  padding-top: 0;
  padding-bottom: 50px;
}

.homeMain div {
  margin-top: 10px;
}

.whoWeAre {
  padding: 50px 30px;
  width: 60%;
  margin: auto;
}

.whoWeAre h2 {
  text-align: center;
  padding: 20px;
}

.whoWeAre p {
  padding: 15px;
}

.blog img {
  width: 250px;
  float: left;
  margin: 10px;
}

.blog p {
  font-size: 25px;
  padding: 15px;
}

.blog h3 {
  font-size: 20px;
  padding: 15px;
}

.available div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.available div img {
  width: 300px;
}

.available div div {
  border: solid 4px gray;
  width: 400px;
  margin: 25px;
}

.indDog {
  background: #c5d5eb;
}

.indCat {
  background: #b5d3d3;
}

.adopt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5%;
  padding-top: 10px;
}

.adopt section {
  width: 100%;
  padding: 20px;
  margin: 25px;
  border: 1px solid black;
}

.adopt section div {
  border: 1px red solid;
  padding: 10px;
  margin: 20px;
}

.adopt section div img {
  height: 250px;
}

footer {
  border: black solid 1px;
  height: 200px;
  color: #0f0f0f;
}

.carouselBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.carouselBtns button {
  border: none;
  margin: 25px;
}

.fa {
  font-size: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

h2 {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

.fa-paw {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hidden {
  display: none;
}

.notHidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */